@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: theme("colors.stone.50");
  --color-foreground: theme("colors.stone.700");
  --color-card: theme("colors.stone.50");
  --color-card-foreground: theme("colors.stone.700");
  --color-popover: theme("colors.stone.50");
  --color-popover-foreground: theme("colors.stone.700");
  --color-primary: theme("colors.stone.800");
  --color-primary-foreground: theme("colors.stone.50");
  --color-secondary: theme("colors.stone.600");
  --color-secondary-foreground: theme("colors.stone.50");
  --color-muted: theme("colors.stone.200");
  --color-muted-foreground: theme("colors.stone.500");
  --color-accent: theme("colors.amber.600");
  --color-accent-foreground: theme("colors.neutral.900");
  --color-destructive: theme("colors.red.600");
  --color-destructive-foreground: theme("colors.stone.50");
  --color-border: theme("colors.stone.300");
  --color-input: theme("colors.stone.300");
  --color-ring: theme("colors.amber.500");

  --font-mono: Roboto Mono, monospace;
  --max-width: 1400px;
}

@layer base {
  @variant dark {
    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-stone-200);
    --color-card: var(--color-neutral-800);
    --color-card-foreground: var(--color-stone-200);
    --color-popover: var(--color-neutral-800);
    --color-popover-foreground: var(--color-stone-200);
    --color-primary: var(--color-stone-100);
    --color-primary-foreground: var(--color-stone-800);
    --color-secondary: var(--color-neutral-700);
    --color-secondary-foreground: var(--color-stone-200);
    --color-muted: var(--color-neutral-700);
    --color-muted-foreground: var(--color-stone-400);
    --color-accent: var(--color-amber-500);
    --color-accent-foreground: var(--color-stone-100);
    --color-destructive: var(--color-red-700);
    --color-destructive-foreground: var(--color-stone-100);
    --color-border: var(--color-neutral-700);
    --color-input: var(--color-neutral-700);
    --color-ring: var(--color-amber-400);
  }

  body {
    @apply font-mono bg-background text-foreground;
    min-height: 100vh;
  }
}

@layer components {
  .loading-spinner {
    --spinner-border: 3px solid;
    --spinner-border-color: var(--color-foreground) var(--color-foreground) transparent;
    
    @apply size-10 rounded-full inline-block relative;
    border: var(--spinner-border);
    border-color: var(--spinner-border-color);
    animation: rotation 1s linear infinite;

    &::after {
      content: '';
      @apply size-5 absolute inset-0 m-auto rounded-full;
      border: var(--spinner-border);
      border-color: var(--spinner-border-color);
      animation: rotation-back 0.5s linear infinite;
      transform-origin: center center;
    }
  }

  .loading-ellipsis {
    @apply relative mr-9;
  }

  .loading-ellipsis::after {
    @apply overflow-hidden inline-block align-bottom absolute bottom-0;
    content: "...";
    animation: ellipsis-dot 1.5s infinite .5s;
    animation-fill-mode: forwards;
  }
}

@utility text-cursor-* {
  &:last-child::after {
    content: '';
    background-color: var(--color-foreground);
    width: .1em;
    height: calc(1em * --value(--leading-*));
    display: inline-block;
    animation: cursor-blink 1s steps(1) infinite .7s;
    vertical-align: bottom;
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotation-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ellipsis-dot {
  25% {
    content: "";
  }
  50% {
    content: ".";
  }
  75% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes cursor-blink {
  from, to {
    background-color: transparent;
  }

  50% {
    background-color: var(--color-foreground);
  }
}