@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #afa88c;
  --color-primary-foreground: #46433a;

  --color-background: #c4c0a3;
  --color-foreground: #46433a;
  
  --color-card: #e9e1bd;
  --color-card-foreground: #46433a;
  
  --color-border: #a39e83;

  --font-mono: Roboto Mono, monospace;

  --animate-cursor-blink: cursor-blink 1s steps(1) infinite .7s;
  --animate-rotate: rotation 1s linear infinite;
  --animate-rotate-back-half: rotation-back 0.5s linear infinite;
  --animate-fade-in: fade-in 0.25s linear;

  @keyframes ellipsis-dot {
    25% {
      content: "";
    }
    50% {
      content: ".";
    }
    75% {
      content: "..";
    }
    100% {
      content: "...";
    }
  }
  
  @keyframes cursor-blink {
    from, to {
      background-color: transparent;
    }

    50% {
      background-color: var(--color-foreground);
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
    
  @keyframes rotation-back {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0.25;
    }

    100% {
      opacity: 1;
    }
  }
}

@layer base {
  @variant dark {
    --color-primary: #46433a;
    --color-primary-foreground: #dedabd;
    
    --color-background: #1a1914;
    --color-foreground: #dedabd;
    
    --color-card: #2a2925;
    --color-card-foreground: #dedabd;
    
    --color-border: #131007;
  }

  body {
    @apply font-mono bg-background text-foreground;
    min-height: 100vh;
  }
}

@utility border-double-accent-* {
  --border-outer-size: --value(integer)px;
  border-left: var(--border-outer-size) solid;
  position: relative;

  &::before {
    @apply bg-foreground absolute block;
    content: "";
    width: calc(var(--border-outer-size)/3);
    height: 100%;
    left: 5px;
    top: 0;
  }
}

@utility text-loading-ellipsis {
  @apply whitespace-nowrap relative mr-9;
  
  &::after {
    @apply overflow-hidden inline-block align-bottom absolute bottom-0;
    content: "...";
    animation: ellipsis-dot 1.5s infinite .5s;
    animation-fill-mode: forwards;
  }
}

@utility max-w-content {
  @apply max-w-7xl;
}
